@import url('../../common.less');

.bigBody {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  background-color: @primaryBkColor;
}

.footer {
  position: absolute;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  color: @parmaryFColor;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  border-top: 1px dashed @parmaryFColor;
}