@primaryBkColor: var(--primaryBkColor);
@parmaryFColor: var(--parmaryFColor);
@primaryHeaderColor: var(--primaryHeaderColor);
@primarySvgColor: var(--primarySvgColor);
@primaryHomeMainBodyBkColor: var(--primaryHomeMainBodyBkColor);
@primaryWriteColor: var(--primaryWriteColor);
@primaryHoverBorderColor: var(--primaryHoverBorderColor);

:root {
  --primaryBkColor: #f5f5f5;
  --parmaryFColor: #555;
  font-size: 14px;
  transition: border .2s linear, color .2s linear, background-color .2s linear;
  --primaryHeaderColor: #d8e2e7;
  --primarySvgColor: #000;
  --primaryHomeMainBodyBkColor: #ECF9FF;
  --primaryWriteColor: #fff;
  --primaryHoverBorderColor: #425aef;

  ::-webkit-scrollbar {
    width: 6px;
    // height: 10px; // 高度写不写，都不影响，因为会根据内容的长度自动计算
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc; // 滑块颜色
    border-radius: 5px; // 滑块圆角
  }
  a {
    text-overflow: ellipsis;
  }
}

//  :root > *::-webkit-scrollbar-thumb:hover {
//    background-color: #f40; // 鼠标移入滑块变红
//  }

// svg path {
//   fill: @primarySvgColor;
// }